.total {
    margin: 104px;
    max-width: 1000;
    display: flex;
    /* max-width: 1000; */
    flex-direction: column;
    gap: 40px;
}
img {
    height: 200px;
}

.contain {
    font-size: 20px;
    font-family: serif;
    color: #9ad6d8;
    padding-top: 46px;
}
.totalContainer{
    display: flex;
    flex-direction: column;
    gap:12px
}

.content {
    background-color: #21483e;
    display: flex;
    gap:20px;
    border-radius: 30px;
   
    
    
}
.searchpage{
    color: rgb(82 75 82);
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    /* padding-top: 15px; */
}
.search-bar{
    width: 400px;
    height: 40px;
    margin: 10px;
    border: groove; 
    outline: none;
    border-radius: 10px;
}
.searchbutton {

    color: #041f22;
    height: 34px;
    font-family: ui-monospace;
    font-size: 19px;
    border-radius: 16px;
    border: black ridge 1px;
    transition-duration: 0.4s;
}
.searchbutton:hover{
    background-color: #041f22;
    color: antiquewhite;
}
